.aside {
  background-color: $aside_bg;
  
  @media (max-width: $lg) {
    transform: translateX(0);
    min-height: 100vh;
    min-width: 270px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
  }

  &__wrapper {
    position: fixed;
    top: 35px;
    left: 40px;
    display: flex;
    flex-direction: column;
  }
  
  &__logo {
    max-width: 30px;
    margin-bottom: 60px;
  }
  
  &__menu {
    display: flex;
    flex-direction: column;
  }
  
  &__item {
    margin-bottom: 15px;
  }
  
  &__link,
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    color: $grey_200;
    transition: color .2s;
    
    &:hover {
      color: $primary_400;
    }
  }
  
  &__button {
    position: fixed;
    bottom: 100px;
    left: 40px;
    align-self: flex-start;
  }
  
  &__ico {
    font-size: 20px;
  }
  
  &__span {
    display: block;
    padding-left: 12px;
  }
}

.aside-logo {
  position: relative;
  display: flex;
  align-items: center;
  
  &__ico {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-45%);
  }
  
  &__description {
    padding-left: 30px;
  }
  
  &__text {
    font-size: 20px;
    font-weight: 900;
    
    &--purple {
      color: $primary_400;
    }
    
    &--blue {
      color: $secondary_500;
    }
  }
}

