.welcome-movies {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 270px 1fr;
  font-family: Montserrat, sans-serif;
  
  &__body {
    background-color: $primary_900;
    background-image: url('@/assets/images/body-decor.png');
    background-position: 0 -150px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    
    .webp & {
      background-image: url('@/assets/images/body-decor.webp');
    }
  }
  
  
  
  &__title {
    color: $grey_50;
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -2px;
    margin-top: 30px;
  }
  
  &__search {
    margin-top: 30px;
  }

}
