//Primary
$primary_900: #120F31;
$primary_800: #251E62;
$primary_400: #7B6EF6;
$primary_300: #9C92F8;

//Secondary
$secondary_500: #1EA5FC;

// Grey
$grey_900: #121829;
$grey_700: #323B54;
$grey_200: #A8AEBF;
$grey_100: #C3C8D4;
$grey_50: #EBEEF5;

// Warning
$warning_500: #FFAD49;

//Success
$success_400: #37D8A7;

// black
$black_10: #00000010;
$black_65: #00000065;

// Components backgrounds
$aside_bg: #121829;
$card_bg: #20283E;
