:root {
  font-size: adapt(16, 1920);
  
  @media (max-width: $desk) {
    font-size: 16px;
  }
  
  @media (max-width: $xxxl) {
    font-size: adapt(16, 1600);
  }
  
  @media (max-width: $xl) {
    font-size: adapt(16, 1280);
  }
  
  @media (max-width: $lg) {
    font-size: adapt(16, 1024);
  }
}
